#top-nav {
  top: 0px;
  position: fixed;
  padding: 15px 30px;
  z-index: 50;
  color: #FFF;
  letter-spacing: 2px;
  img {
    height: 38px;
  }
  &-left {
    width: 20%;
  }
  &-right {
    div {
      padding: 15px;
    }
  }
}

#Footer {
  background-color: #22262C;
  color: #505A69;
  padding: 10%;
}

.top-nav-active {
  background-color: #3396d1;
}
