.login-wrapper {
  width: 50%;
}

.login-text {
  color: #FFF;
}

.login-page {
  background: url('../../../../public/assets/img/cover_small.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
