.login-text {
  color: #FFF;
}

.login-page {
  background: url('../../../../public/assets/img/banner-laptop.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
